<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <div id="app">
      <button @click="toggle(score1)">+</button>
      <p>komentar 1 komentar 1 komentar 1 || 29-07-2020 || score {{score1}}</p>
      <button @click="toggleMinus(score1)">-</button>
      <br /><br />
      <button @click="toggle2(score2)">+</button>
      <p>komentar 2 komentar 2 komentar 2 || 29-07-2020 || score {{score2}}</p>
      <button @click="toggle2Minus(score2)">-</button>
      <br /><br />
      <button @click="toggle3(score3)">+</button>
      <p>komentar 3 komentar 3 komentar 3 || 29-07-2020 || score {{score3}}</p>
      <button @click="toggle3Minus(score3)">-</button>
      <br /><br />

      <div v-html="data"></div>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        v-model="data2"
        v-on:keyup.enter="submit(data2)"
      ></textarea>
      <!-- <p v-bind:html="data_html"></p> -->
    </div>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      // Vue.component('test', {
      //     props: ['score'],
      //     template: `
      //     <button @click="toggle3(score3)">+</button>
      //         <p>komentar 3 komentar 3 komentar 3 || 29-07-2020 || score {{score3}}</p>
      //         <button @click="toggle3Minus(score3)">-</button>
      //     `,
      // })
      var vm = new Vue({
        el: "#app",
        data: {
          message: "Hello world!",
          score1: 0,
          score2: 5,
          score3: 5,
          score4: 0,
          data: "",
          data2: "",
        },
        methods: {
          toggle: function (a) {
            if (a == 0) {
              this.score1 = 1;
            } else {
              this.score1 = 0;
            }
          },
          toggleMinus: function (a) {
            if (a == 0) {
              this.score1 = -1;
            } else {
              this.score1 = 0;
            }
          },
          toggle2: function (a) {
            if (a == 5) {
              this.score2 = 6;
            } else {
              this.score2 = 5;
            }
          },
          toggle2Minus: function (a) {
            if (a == 5) {
              this.score2 = 4;
            } else {
              this.score2 = 5;
            }
          },
          toggle3: function (a) {
            if (a == 5) {
              this.score3 = 6;
            } else {
              this.score3 = 5;
            }
          },
          toggle3Minus: function (a) {
            if (a == 5) {
              this.score3 = 4;
            } else {
              this.score3 = 5;
            }
          },
          toggle4: function (a) {
            this.score4 += 1;
          },
          toggle4Minus: function () {
            this.score4 -= 1;
          },
          submit: function () {
            this.data = `<button @onclick="${this.toggle4()}">+</button>
      <p>${this.data2} || 29-07-2020 || score ${this.score4}</p>
      <button @onclick="${this.toggle4Minus()}">-</button>`;
          },
        },
      });
    </script>
  </body>
</html>
